@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../../fonts/roboto-100-normal.woff2') format('woff2'),
    url('../../fonts/roboto-100-normal.woff') format('woff'),
    url('../../fonts/roboto-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
